@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}


* {
    font-family: 'Roboto';
}

body {
    margin: 0px;
}

.grid-container {
    display:grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 150px 1fr;
}

.sidebar {
    grid-column: 1;
    grid-row: 1 / 999;
    background-color: #1992d4;
    color: white;
    height: 100vh;
}

.logo-container,
.menu-item {
    display: flex;
    align-items: center;
    gap: 5px;
}

svg.logo {
    width: 50px;
    margin-left: 5px;
    
}

svg.icon {
    width: 35px;
}

svg {
    fill: currentColor;
    /* Lets us have the svg images be coloured like other elements */
}


.menu-item {
    display: flex;
    margin-bottom: 10px;
}

h1 {
    font-size: min(1.5rem, 2.5vw);
}

h2 {
    margin: 5px 0px;
    font-size: min(1rem, 2vw);
}


h3,h4 {
    margin: 0px;
    font-size: min(1rem, 3vw);
}



.menu {
    margin: 40px 10px;
}

/* Main content */

.main-content {
    background-color: #e2e8f0;
    grid-column: 2;
    display: grid;
    grid-template-columns: 2fr 1fr;
    border-top: 3px solid #b8bfc5;
    ;
}

.projects-panel {
    grid-column: 1;
    grid-row: 1 / 3
}

.announcements-panel {
    grid-column: 2;
    grid-row: 1;
}

.trending-panel {
    grid-column: 2;
    grid-row: 2;
}

/* Header */

.header {
    padding: 0px 1vw;
}

.search-bar {
    display: flex;
    margin: 1vh 1vw;
}

.search-bar>svg {
    width: 30px;
    margin-left: min(1vw, 20px);
}


.search-bar>* {
    margin: 0px 10px;
}


.search-bar>p {
    font-weight: bold;
    align-self: center;
    margin-right: 20px;
}


input.search-text {
    flex: 1;
    max-width: 700px;
    border-radius: 10px;
    margin: 10px;
    background-color: #e2e8f0;
    border: none;
}

svg.notification-bell {
    margin-left: auto;
}

.avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.search-bar>.avatar {
    width: 45px;
    height: 45px;
}

.welcome-bar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.welcome-text {
    flex: 1;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

button {
    color:white;
    background-color: #1992d4;
    border-radius: 16px;
    border: none;
    height: 35px;
    flex-basis: 80px;
    font-weight: bold;
    min-width: 30px;
    font-size: min(1rem, 2vw);

}


@media screen and (max-width: 800px) {
    .search-bar>p  {
      display: none;
    }
    svg.logo {
        width: 50px;
        margin-left: 0px;   
    }
  }

@media screen and (max-width: 600px) {
    .logo-container>h1,
    .menu>.menu-item>h2 {
      display: none;
    }

    .grid-container {
        grid-template-columns: 60px 1fr;
    }

  }