@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}


* {
    font-family: 'Roboto';
}

body {
    margin: 0px;
}

.grid-container {
    display:grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 160px 1fr;
}

/* Sidebar */

.sidebar {
    grid-column: 1;
    grid-row: 1 / 999;
    background-color: #1992d4;
    color: white;
    height: max(100%,100vh);
}

.logo-container,
.menu-item {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo-container:hover,
.menu-item:hover {
    color: black;
}

svg.logo {
    width: 50px;
    margin-left: 15px;
    
}

svg.icon {
    width: 35px;
    margin-left: 15px;
}

svg {
    fill: currentColor;
    /* Lets us have the svg images be coloured like other elements */
}



.menu-item {
    display: flex;
    margin-bottom: 10px;
}

h1 {
    font-size: min(1.5rem, 2.75vw);
}

h2 {
    margin: 5px 0px;
    font-size: min(1.33rem, 2.5vw);
}

h3 {
    margin: 0px;
    font-size: min(1.33rem, 2.25vw);
}

h4 {
    margin: 0px;
    font-size: min(1rem, 2vw);
}



.menu {
    margin: 40px 10px;
}

/* Main content */

.main-content {
    background-color: #e2e8f0;
    grid-column: 2;
    display: grid;
    grid-template-columns: 3fr min(300px, 35vw);
    grid-template-rows: 1fr;
    border-top: 3px solid #b8bfc5;
    padding: 10px;
}

.projects-panel {
    grid-column: 1;
    grid-row: 1;
}

.card-container {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(280px,1fr) );
    gap: 25px;
    margin: 10px;
    margin-left: 0px;
    margin-right: 15px;
}

.card {
    height: 160px;
    background-color: white;
    border-left: 8px solid #f0b429;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-rows: 30px 1fr 30px;
    padding: 10px;
    /* margin-left: -10px; */
}

.card:hover {
    outline: 2px solid lightblue;
  }

.subtext {
    color: rgb(97, 94, 94);
    font-size: 0.9rem;
}

.icon-container {
    justify-self: right;
}

.icon-container>.icon {
    opacity: 70%;
    width: 25px;
    padding:5px;
}

.icon-container>.icon:hover {
    opacity: 100%;
}

.right-panel {
    grid-column: 2;
    grid-row: 1;
    
}

.announcement-container {
    margin: 10px;
    margin-left: 0px;
    padding: 20px 10px;
    /* height: 85%; */
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    justify-items: center;
}

.announcement {
    border-top: 1px solid rgb(197, 195, 195)   ;
    width: 80%;
    padding: 10px;
}

.announcement>.subtext {
    font-size: 0.75rem;
}

#first-announcement {
    border-top: none;
}

.trending-container {
    margin: 10px;
    margin-left: 0px;
    padding: 20px 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-rows: repeat(1fr, 4);
    gap: 20px;
}

.trending-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;

}

.trending-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 160px;
}

/* Header */

.header {
    padding: 0px 1vw;
}

.search-bar {
    display: flex;
    margin: 1vh 1vw;
}

.search-bar>svg {
    width: 30px;
    margin-left: min(1vw, 20px);
}


.search-bar>* {
    margin: 0px 10px;
}


.search-bar>p {
    font-weight: bold;
    align-self: center;
    margin-right: 20px;
}


input.search-text {
    flex: 1;
    max-width: 700px;
    border-radius: 10px;
    margin: 10px;
    background-color: #e2e8f0;
    border: none;
}

svg.notification-bell {
    margin-left: auto;
}

.avatar {
    width: 50px;
    min-width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.greet-container>.avatar {
    width: 70px;
    min-width: 70px;
    height: 70px;
}

.welcome-bar {
    display: flex;
    align-items: center;
    gap: 2vw;
}

.welcome-text {
    max-width: 400px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    /* word-break: break-all; */
}

.greet-container {
    display: flex;
    flex: 1;
    gap: 10px;
}

button {
    color:white;
    background-color: #1992d4;
    border-radius: 16px;
    border: none;
    height: 35px;
    flex-basis: 100px;
    font-weight: bold;
    min-width: 30px;
    font-size: min(1rem, 1.7vw);

}


@media screen and (max-width: 850px) {
    .logo-container>h1,
    .menu>.menu-item>h2 {
      display: none;
    }

    .grid-container {
        grid-template-columns: 60px 1fr;
    }

    .search-bar>p  {
      display: none;
    }
    svg.logo {
        width: 50px;
        min-width: 50px;
        margin-left: 0px;   
    }
    svg.icon {
        margin-left: 0px;   
    }
  }

@media screen and (max-width: 600px) {

    .main-content {
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr;
    }

    .right-panel {
        grid-column: 1;
        grid-row: 2;
    }



  }