/* * {
    border: 1px solid black;
} */

.grid-container {
    display:grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar {
    grid-column: 1;
    grid-row: 1 / 999;
    background-color: #1992d4;
    color:white
}

.logo-container,
.menu-item {
    display: flex;
    align-items: center;
    gap: 5px;
}

svg.logo {
    width: 60px;
    margin-left: 5px;
}

svg.icon {
    width: 50px;
}

svg {
    fill: currentColor;
    /* Lets us have the svg images be coloured like other elements */
}


.menu-item {
    display: flex;
}

h1 {
    font-size: min(2rem, 3vw);
}

h2 {
    margin: 5px 0px;
    font-size: min(1.5rem, 2.5vw);
}


h3,h4 {
    margin: 5px 0px;
    /* font-size: min(1.rem, 2.5vw); */
}



.menu {
    margin: 40px 10px;
}

/* Main content */

.main-content {
    background-color: #e2e8f0;
    grid-column: 2;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.projects-panel {
    grid-column: 1;
    grid-row: 1 / 3
}

.announcements-panel {
    grid-column: 2;
    grid-row: 1;
}

.trending-panel {
    grid-column: 2;
    grid-row: 2;
}

/* Header */


.search-bar {
    display: flex;
}

.search-bar>svg {
    width: 30px;
}

.search-text {
    flex: 1;
    border-radius: 10px;
    margin: 10px;
}

.avatar-placeholder {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: red;
}

.search-bar>.avatar-placeholder {
    width: 50px;
    height: 50px;
}

.welcome-bar {
    display: flex;
    margin: 0px 10px;
    align-items: center;
    gap: 10px;
}

.welcome-text {
    flex: 1;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

button {
    color:white;
    background-color: #1992d4;
    border-radius: 20px;
    border: none;
    height: 40px;
    flex-basis: 80px;

}